
.contenedor {
  background-color: white;
  padding: 20px;
  flex-grow: 1;
}
.tarjetas, .new-section, .barra {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 20px;
}
.caja, .caja2, .caja_barra {
  background-color: #f8f9fa;
  border: 2px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  text-align: center;
  flex: 1 1 calc(33.333% - 40px); /* 3 columns layout with margin */
  box-sizing: border-box;
}
.caja .contador {
  font-size: 4em;
  font-weight: bold;
}
.caja .titulo {
  margin-top: 10px;
  font-size: 1.2em;
  color: #666;
  font-weight: bold;
}
.caja img, .caja2 img, .caja_barra img {
  max-width: 100%;
  height: auto;
}
@media (max-width: 768px) {
  .caja, .caja2, .caja_barra {
      flex: 1 1 calc(50% - 40px); /* 2 columns layout with margin */
  }
}
@media (max-width: 480px) {
  .caja, .caja2, .caja_barra {
      flex: 1 1 100%; /* 1 column layout */
  }
}