.container {
  display: flex;
}

.contenedor {
  background-color: white;
  padding: 20px;
  flex-grow: 1;
}
.tarjetas, .new-section, .barra {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 20px;
}
.caja, .caja2, .caja_barra {
  background: linear-gradient(rgba(40, 94, 4, 0.8), rgb(22, 81, 4));
  color: #ddd;
  
  padding: 20px;
  margin: 10px;
  text-align: center;
  flex: 1 1 calc(33.333% - 40px); /* 3 columnas con margen */
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Play', sans-serif;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8); /* Sombra para mayor visibilidad */
}
.caja .contador, .caja2 .contador, .caja_barra .contador {
  font-size: 4em;
  font-weight: bold;
}
.caja .titulo, .caja2 .titulo, .caja_barra .titulo {
  font-size: 1.2em;
  color: #fff; /* Color del texto del título */
  font-weight: bold;
}
.caja img, .caja2 img, .caja_barra img {
  max-width: 100%;
  height: auto;
}
.fecha {
  align-items: center;
  text-align-last: center;
  justify-content: center;
  display: flex;
  font-size: larger;
  color: white;
}
@media (max-width: 768px) {
  .caja, .caja2, .caja_barra {
      flex: 1 1 calc(50% - 40px); /* 2 columns layout with margin */
  }
}
@media (max-width: 480px) {
  .caja, .caja2, .caja_barra {
      flex: 1 1 100%; /* 1 column layout */
  }
}