<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>DESRED | Cuestionario</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min2.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<link rel="shortcut icon" href="{{ url_for('static', filename='img/avatar.png') }}" type="image/x-icon">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css">

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/animate.min.css') }}">

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/fontawesome-all.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/stylebox.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/form-validation.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style-starter.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/sweetalert2.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/colors/switch.css') }}">
<!-- Color Alternatives -->
<link href="{{ url_for('static', filename='css/colors/color-2.css') }}" rel="alternate stylesheet" type="text/css" title="color-2">
<link href="{{ url_for('static', filename='css/colors/color-3.css') }}" rel="alternate stylesheet" type="text/css" title="color-3">
<link href="{{ url_for('static', filename='css/colors/color-4.css') }}" rel="alternate stylesheet" type="text/css" title="color-4">
<link href="{{ url_for('static', filename='css/colors/color-5.css') }}" rel="alternate stylesheet" type="text/css" title="color-5">
<link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/heroes/">


	<style>
		.bd-placeholder-img {
			font-size: 1.125rem;
			text-anchor: middle;
			-webkit-user-select: none;
			-moz-user-select: none;
			user-select: none;
		}

		@media (min-width: 768px) {
			.bd-placeholder-img-lg {
				font-size: 3.5rem;
			}
		}
	</style>
	<!-- Custom styles for this template -->
	




</head>

<body>

	<div class="wrapper">
		

		<div class="steps-area steps-area-fixed">
			<div class="image-holder">
				<img src="../static/img/side-img.jpg" alt="">
			</div>
			<div class="steps clearfix">
				<ul class="tablist multisteps-form__progress">
					<li class="multisteps-form__progress-btn js-active current">
						<span>1</span>
					</li>
					<li class="multisteps-form__progress-btn">
						<span>2</span>
					</li>
					<li class="multisteps-form__progress-btn">
						<span>3</span>
					</li>
					<li class="multisteps-form__progress-btn">
						<span>4</span>
					</li>
					<li class="multisteps-form__progress-btn last">
						<span>5</span>
					</li>
				</ul>
			</div>
		</div>
		&nbsp;&nbsp;&nbsp;&nbsp;
{% for respuesta in territorio %}
<form class="multisteps-form__form"  action="/actualizar_territorio"  method="POST">
    <div class="form-area position-relative">
        <!-- div 1 -->
        <Center><img src="{{ url_for('static', filename='img/Logotipo.png') }}" alt="centered image" height="598" width="398">
            <BR></BR>
            <h1>CUESTIONARIO</h1>
            <h5>
                <p style="color:grey;">CARACTERIZACIÓN POBLACIÓN AFRO DEL MUNICIPIO DE BECERRIL - CESAR.</p>
            </h5>
        </Center>

        &nbsp;&nbsp;&nbsp;&nbsp;
        <div class="multisteps-form__panel js-active" data-animation="slideHorz">
            <div class="wizard-forms">
                <div class="inner pb-100 clearfix">
                    <div class="form-content pera-content">
                        <div class="step-inner-content">

                            <div style="display:inline-block; vertical-align: middle;text-align:middle;"></div>
                            <!-- Barra de progreso -->
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 20%;" aria-valuenow="20" aria-valuemin="0"
                                    aria-valuemax="100"></div>
                            </div>
                            
                            
                            
                                
                                <label>NUMERO DE FICHA</label>
                                <input type='text' value="{{respuesta.11}}" name='id_encuesta' maxlength='10' style='width:200px;' />
                            <!-- for A -->
                            <div class="alert alert-dark" role="alert"><button type="button"
                                    class="btn btn-secondary" data-container="body" data-toggle="popover"
                                    data-placement="right"
                                    data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
                                    A
                                </button> PILAR 1. TERRITORIO </div>
                            <div class="gender-selection">
                                <li><b>A1.</b>¿Conoce los limites Territoriales del Consejo Comunitario?:
                                    <ul>
                                        <li><input type="radio" name="a1" value="1" /> Sí</li>
                                        <li><input type="radio" name="a1" value="2" /> No</li>
                                    </ul>
                                <li><b>A2.</b>¿Su comunidad cuenta con espacios de interacción social?:
                                    <ul>
                                        <li><input type="radio" name="a2" value="1" /> Sí</li>
                                        <li><input type="radio" name="a2" value="2" /> No</li>
                                    </ul>
                                <li><b>A3.</b> ¿Estos espacios son suficientes?:
                                    <ul>
                                        <li><input type="radio" name="a3" value="1" /> Sí</li>
                                        <li><input type="radio" name="a3" value="2" /> No</li>
                                    </ul>
                                <li><b>A4.</b>¿Estos espacios son adecuados?:
                                    <ul>
                                        <li><input type="radio" name="a4" value="1" /> Sí</li>
                                        <li><input type="radio" name="ag4" value="2" /> No</li>
                                    </ul>
                                <li><b>A5.</b> ¿Que Actores y agentes externos reconoce en el territorio?:
                                <li>Actores Comunitarios
                                <ul>
                                    <input type="radio" name="a5_1" value="1" /> Sí
                                    <input type="radio" name="a5_1" value="2" /> No
                                </li>
                                </ul>
                                
                                <li> Actores Institucionales

                                    <ul>
                                    <input type="radio" name="a5_2" value="1" /> Sí
                                    <input type="radio" name="a5_2" value="2" /> No
                                </ul>
                                </li>
                                
                                
                                <li> Actores Armados
                                </ul>
                                    <input type="radio" name="a5_3" value="1" /> Sí
                                    <input type="radio" name="a5_3" value="2" /> No
                                </ul>
                                </li>
                                
                                
                                <li> Empresas
                                <ul>
                                    <input type="radio" name="a5_4" value="1" /> Sí
                                    <input type="radio" name="a5_4" value="2" /> No
                                </ul>
                                </li>
                                
                                
                                <li> ONG
                                    <ul>
                                    <input type="radio" name="a5_5" value="1" /> Sí
                                    <input type="radio" name="a5_5" value="2" /> No
                                </ul>
                                </li>
                                
                                </li>
                                <li> Otras Comunidades
                                    <ul>
                                    <input type="radio" name="a5_6" value="1" /> Sí
                                    <input type="radio" name="a5_6" value="2" /> No
                                </ul>
                                </li>
                                <li><b>A6.</b> ¿. ¿Esta inscrito a una asociación o consejo comunitario afro?:
                                   
                                
                                    <ul>
                                    <input type="radio" name="a6" value="1" /> Sí
                                    <input type="radio" name="a6" value="2" /> No
                                </ul>
                                
                                
                                <br>

            <div class="actions">
                <ul>
                    
                    <ul>
                        <li><span className="js-btn-prev" title="BACK"><i className="fa fa-arrow-left"></i> CANCELAR</span></li>
                        <li><button type="submit" title="NEXT" >ACTUALIZAR <i className="fa fa-arrow-right"></i></button></li>
                    </ul>
                </ul>
            </div>
        </div>
    </div>
    
    
</div>
</form>



{%  endfor %}