<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vista miembros</title>
    <link rel="shortcut icon" href="templates/assets/img/Logotipo.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.7.1/css/buttons.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

    <style>
		.bd-placeholder-img {
			font-size: 1.125rem;
			text-anchor: middle;
			-webkit-user-select: none;
			-moz-user-select: none;
			user-select: none;
		}

		@media (min-width: 768px) {
			.bd-placeholder-img-lg {
				font-size: 3.5rem;
			}
		}
	</style>
	<!-- Custom styles for this template -->
	
</head>
<body>
    <Center><img src="{{ url_for('static', filename='img/Logotipo.png') }}" alt="centered image" height="598" width="398"> <h1>LISTADO DE MIEMBROS DE LA FAMILIA</h1>
    <table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                <th>ID</th>
                <th>Se auto reconoce </th>
                <th>nombre</th>
                <th>apellido</th>
                <th>identidad</th>
                <th>sexo</th>
                <th>edad</th>
                <th>escolaridad</th>
                <th>direccion</th>
                <th>barrio</th>
                <th>sector</th>
                <th>acciones</th>
               
            </tr>
        </thead>
        <tbody>
            {% for miembro in miembros%}
            <tr>
                <td>{{miembro.7}}</td> <!-- aqui esta el id-->
                <td>{{miembro.0}}</td>
                <td>{{miembro.1}}</td>
                <td>{{miembro.2}}</td>
                <td>{{miembro.3}}</td>
                <td>{{miembro.4}}</td>
                <td>{{miembro.5}}</td>
                <td>{{miembro.6}}</td>
                <td>{{miembro.8}}</td>
                <td>{{miembro.9}}</td>
                <td>{{miembro.10}}</td>
                <td>
                    <a href="#" class="myButtonE">editar</a>
                    <a href="#" class="myButton">borrar</a> 
                    
                </td>
                
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
<script src="https://cdn.datatables.net/buttons/1.7.1/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.html5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>

<script>
    $(document).ready(function() {
        $('#example').DataTable({
            dom: 'Bfrtip',
            buttons: [
            {
                extend: 'excelHtml5',
                text: 'Exportar a Excel'
                
            },
            {
                extend: 'pdfHtml5',
                text: 'Exportar a PDF'
            }
        ]
        });
    });
</script>


    
</body>
</html>